{
  "extends": "airbnb-base",
  "rules": {
    "no-underscore-dangle": ["off", { "allow": ["foo_", "_bar"] }],
    "linebreak-style": ["off", "unix"],
    "no-undef": ["off", { "global": "PropertyError" }]
  }
}